In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("2022-2023 Öğrenim Hareketliliği STS Sonuç İLAN.xlsx")

In [3]:
df.head()

   Sıra  Öğrenci Numarası  Ortalama Dil Seviyesi  Sözlü Sınav  Yazılı Sınav
0     1         170210052      56.5            -           65            48
1     2         170522611      66.0           B1           50            82
2     3         175220052      39.0            -            0            78
3     4         180300605      80.5           B2           85            76
4     5         185200072      93.5           B2           95            92

In [4]:
df.drop(["Sıra"],axis=1,inplace=True)

In [5]:
df["Öğrenci Numarası"] = df["Öğrenci Numarası"].astype("str")

In [6]:
df.head()

  Öğrenci Numarası  Ortalama Dil Seviyesi  Sözlü Sınav  Yazılı Sınav
0        170210052      56.5            -           65            48
1        170522611      66.0           B1           50            82
2        175220052      39.0            -            0            78
3        180300605      80.5           B2           85            76
4        185200072      93.5           B2           95            92

In [7]:
bolum_kodları = list()
for i in df["Öğrenci Numarası"]:
    print(i[3:6])
    bolum_kodları.append(i[3:6])

210
522
220
300
200
200
210
210
210
220
220
220
260
260
260
260
260
280
290
290
290
290
290
290
290
300
300
442
442
471
477
505
509
522
522
525
541
541
541
541
541
541
542
542
575
575
575
575
582
585
600
632
671
672
121
220
260
476
477
478
509
541
541
541
541
541
541
542
188
188
220
220
220
220
220
220
260
260
260
260
260
260
260
260
260
281
281
290
290
290
290
290
290
290
290
290
290
431
431
442
442
442
442
442
442
442
442
442
471
471
471
471
475
476
477
477
478
509
509
525
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
542
542
553
561
561
561
561
561
576
582
582
582
582
585
600
633
670
671
671
672
672
672
673
673
674
676
200
220
260
476
476
509
509
509
509
509
541
541
541
541
541
541
541
541
541
542
542
542
188
188
188
188
200
210
220
220
260
260
260
260
260
288
290
290
290
290
290
290
290
290
290
290
290
290
290
290
290
290
290
290
290
431
442
450
450
450
475
475
475
475
476
478
503
503
509
509
509
509
509
541
541
541
541
541
541
541
541
541
541
541
541
541
542
542
550
550
550
550
557
557
561
561
561
561
561
561
577
585
600
671
672
220
220
118
121
139
202
260
260
260
260
260
260
260
260
260
260
509
509
541
541
541
541
541
541
541
541
541
541
541
542
542
542
542
130
200
200
210
210
210
210
220
230
260
260
260
260
260
260
290
290
300
300
300
442
442
460
471
475
475
475
475
477
509
522
522
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
542
561
561
561
561
561
561
562
585
585
585
600
633
670
672
673
123
128
134
136
144
213
406
113
137
144
208
211
216
260
260
260
260
470
509
509
509
541
541
541
541
541
541
541
541
541
541
541
541
541
541
541
542

In [8]:
df["Bölüm Kodu"] = bolum_kodları
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Öğrenci Numarası  403 non-null    object
 1   Ortalama          403 non-null    float64
 2   Dil Seviyesi      403 non-null    object
 3   Sözlü Sınav       403 non-null    int64
 4   Yazılı Sınav      403 non-null    int64
 5   Bölüm Kodu        403 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 19.0+ KB

In [9]:
df["Bölüm Kodu"].value_counts()

541    94
260    41
290    38
509    20
561    17
       ..
553     1
632     1
505     1
280     1
470     1
Name: Bölüm Kodu, Length: 64, dtype: int64

In [10]:
df[df["Bölüm Kodu"] == "541"]

,Öğrenci Numarası,Ortalama,Dil Seviyesi,Sözlü Sınav,Yazılı Sınav,Bölüm Kodu
36,190541003,45.0,-,40,50,541
37,190541031,80.5,B2,85,76,541
38,190541037,51.0,-,30,72,541
39,190541044,68.0,B1,70,66,541
40,190541052,46.0,-,30,62,541
...,...,...,...,...,...,...
397,225541108,82.0,B2,90,74,541
398,225541110,89.0,B2,90,88,541
399,225541122,70.0,B1,60,80,541
400,225541125,76.5,B1,75,78,541
401,225541605,88.0,B2,80,96,541

In [11]:
yazilim = df[df["Bölüm Kodu"] == "541"]

In [12]:
yazilim = yazilim[yazilim["Ortalama"]>60]

In [13]:
yazilim["Akademik Ortalama"] = 75

In [14]:
yazilim

,Öğrenci Numarası,Ortalama,Dil Seviyesi,Sözlü Sınav,Yazılı Sınav,Bölüm Kodu,Akademik Ortalama
37,190541031,80.5,B2,85,76,541,75
39,190541044,68.0,B1,70,66,541,75
41,190541059,73.0,B1,70,76,541,75
61,195541019,79.0,B1,90,68,541,75
62,195541020,66.5,B1,67,66,541,75
63,195541024,71.0,B1,70,72,541,75
64,195541032,70.5,B1,75,66,541,75
65,195541037,83.0,B2,84,82,541,75
123,200541014,81.5,B2,83,80,541,75
125,200541024,71.0,B1,72,70,541,75
126,200541026,65.5,B1,55,76,541,75
127,200541031,80.0,B2,74,86,541,75
128,200541036,61.5,B1,39,84,541,75
131,200541047,63.0,B1,70,56,541,75
132,200541050,76.5,B1,73,80,541,75
134,200541061,64.0,B1,56,72,541,75
174,205541018,60.5,B1,45,76,541,75
234,210541013,86.5,B2,85,88,541,75
235,210541017,71.0,B1,70,72,541,75
236,210541020,71.0,B1,70,72,541,75
237,210541022,60.5,B1,55,66,541,75
240,210541067,62.0,B1,50,74,541,75
243,210541079,74.5,B1,85,64,541,75
244,210541092,71.0,B1,50,92,541,75
246,210541302,82.0,B2,90,74,541,75
286,215541012,92.5,B2,95,90,541,75
287,215541013,94.5,B2,95,94,541,75
331,220541004,70.0,B1,60,80,541,75
332,220541011,76.0,B1,60,92,541,75
338,220541072,62.5,B1,55,70,541,75
340,220541079,73.0,B1,60,86,541,75
341,220541082,75.5,B1,75,76,541,75
343,220541089,78.0,B1,80,76,541,75
345,220541105,66.0,B1,60,72,541,75
348,220541122,65.5,B1,55,76,541,75
391,225541034,82.0,B2,80,84,541,75
392,225541035,63.5,B1,65,62,541,75
396,225541090,90.0,B2,100,80,541,75
397,225541108,82.0,B2,90,74,541,75
398,225541110,89.0,B2,90,88,541,75
399,225541122,70.0,B1,60,80,541,75
400,225541125,76.5,B1,75,78,541,75
401,225541605,88.0,B2,80,96,541,75

In [15]:
yazilim[yazilim["Öğrenci Numarası"]=="190541031"]= yazilim[yazilim["Öğrenci Numarası"]=="190541031"].replace(75,88)
yazilim[yazilim["Öğrenci Numarası"]=="190541031"]

,Öğrenci Numarası,Ortalama,Dil Seviyesi,Sözlü Sınav,Yazılı Sınav,Bölüm Kodu,Akademik Ortalama
37,190541031,80.5,B2,85,76,541,88

In [16]:
yazilim["Net Puan"] = yazilim["Ortalama"]/2 + yazilim["Akademik Ortalama"]/2

In [17]:
yazilim[yazilim["Öğrenci Numarası"]=="190541031"]= yazilim[yazilim["Öğrenci Numarası"]=="190541031"].replace(84.25,74.25)

In [18]:
yazilim = yazilim.sort_values(by="Net Puan",ascending=False)

yazilim = yazilim.reset_index()
yazilim

,index,Öğrenci Numarası,Ortalama,Dil Seviyesi,Sözlü Sınav,Yazılı Sınav,Bölüm Kodu,Akademik Ortalama,Net Puan
0,287,215541013,94.5,B2,95,94,541,75,84.75
1,286,215541012,92.5,B2,95,90,541,75,83.75
2,396,225541090,90.0,B2,100,80,541,75,82.50
3,398,225541110,89.0,B2,90,88,541,75,82.00
4,401,225541605,88.0,B2,80,96,541,75,81.50
5,234,210541013,86.5,B2,85,88,541,75,80.75
6,65,195541037,83.0,B2,84,82,541,75,79.00
7,391,225541034,82.0,B2,80,84,541,75,78.50
8,397,225541108,82.0,B2,90,74,541,75,78.50
9,246,210541302,82.0,B2,90,74,541,75,78.50
10,123,200541014,81.5,B2,83,80,541,75,78.25
11,127,200541031,80.0,B2,74,86,541,75,77.50
12,61,195541019,79.0,B1,90,68,541,75,77.00
13,343,220541089,78.0,B1,80,76,541,75,76.50
14,132,200541050,76.5,B1,73,80,541,75,75.75
15,400,225541125,76.5,B1,75,78,541,75,75.75
16,332,220541011,76.0,B1,60,92,541,75,75.50
17,341,220541082,75.5,B1,75,76,541,75,75.25
18,243,210541079,74.5,B1,85,64,541,75,74.75
19,37,190541031,80.5,B2,85,76,541,88,74.25
20,340,220541079,73.0,B1,60,86,541,75,74.00
21,41,190541059,73.0,B1,70,76,541,75,74.00
22,236,210541020,71.0,B1,70,72,541,75,73.00
23,244,210541092,71.0,B1,50,92,541,75,73.00
24,235,210541017,71.0,B1,70,72,541,75,73.00
25,63,195541024,71.0,B1,70,72,541,75,73.00
26,125,200541024,71.0,B1,72,70,541,75,73.00
27,64,195541032,70.5,B1,75,66,541,75,72.75
28,331,220541004,70.0,B1,60,80,541,75,72.50
29,399,225541122,70.0,B1,60,80,541,75,72.50
30,39,190541044,68.0,B1,70,66,541,75,71.50
31,62,195541020,66.5,B1,67,66,541,75,70.75
32,345,220541105,66.0,B1,60,72,541,75,70.50
33,126,200541026,65.5,B1,55,76,541,75,70.25
34,348,220541122,65.5,B1,55,76,541,75,70.25
35,134,200541061,64.0,B1,56,72,541,75,69.50
36,392,225541035,63.5,B1,65,62,541,75,69.25
37,131,200541047,63.0,B1,70,56,541,75,69.00
38,338,220541072,62.5,B1,55,70,541,75,68.75
39,240,210541067,62.0,B1,50,74,541,75,68.50
40,128,200541036,61.5,B1,39,84,541,75,68.25
41,174,205541018,60.5,B1,45,76,541,75,67.75
42,237,210541022,60.5,B1,55,66,541,75,67.75